{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="card">
          <div class="card-header">
            General Instructions
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>Demo purpose only. Author is not responsile for any issue created by this code.</p>
              <footer class="blockquote-footer">Python Begineer's Course By <cite title="Source Title">Shailender Singh</cite></footer>
            </blockquote>
          </div>
        </div>
    </div>
{% endblock %}